<h1><%= @user.name %>'s Stats</h1>
<% @games.each do |game| %>
<%= game.name %><br>
	<% game.matches.each do |match| %>
		<%= match.match_date %>
	<% end %>
<% end %>

<h3>Add a match <%= link_to 'here', new_game_path %></h3>