<a href="#" class="userName" data-id="<%= @user.id %>"><h1 id="username" ><%= @user.name %>'s Stats </h1></a>


<ul id="user-games"></ul>

























<% if current_user_page(current_user) %>
  <% if current_user.matches.count >= 1  %>
    <p>Your favorite game is <%= @fav %>. 
  <% end %>
<% end %>

<h3><%= current_user_page(current_user) %></h3>

<div id="new-game-form">************ PLACEHOLDER *************</div>
