<h1>Welcome to Tabletop Tracker!</h1>

<h2>New to TT? Sign up <%= link_to 'here', signup_path %>.</h2>
<h2>Already have an account? Log in <%= link_to 'here', login_path %>.</h2>
<%= link_to('Log in with Facebook!', '/auth/facebook') %>